.account-container {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.account-icon {
  align-self: center;
  width: 10rem;
  height: 10rem;
}

.username-title {
  font-weight: bold;
  font-size: 2rem;
}
