/* GLOBAL */
.account-container {
  width: 24rem;
}

.account-icon {
  align-self: center;
  width: 10rem;
  height: 10rem;
}

.username-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin: 0 1rem;
  text-align: center;
}

.member-since-title {
  text-align: center;
  color: #888;
}

.profile-container {
  display: flex;
  flex-direction: column;
  border: var(--lambda-border);
  border-radius: var(--lambda-border-radius);
  overflow: hidden;
  padding: 0.7rem 1rem;
  margin: 1rem 0;
}

/* PROFILE STATS */
.primary-stat {
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  font-size: 1.7rem;
}

.secondary-stat {
  display: inline-flex;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.3rem 0;
  align-items: center;
  gap: 0.15rem;
}

.stat-title {
  margin-right: 0.4em;
}


.stat-elo {
  padding-left: 0.6rem;
  color: var(--elo-gain-color);
}

.stat-rank {
  color: var(--button-fg-color);
}

.stat-games-played {
  color: var(--secondary-accent);
}

.stat-games-won {
  color: var(--thirdary-accent);
}

.stat-games-lost {
  color: var(--delicate-accent);
}

.stat-win-ratio {
  color: var(--button-fg-color);
}


/* MANAGEMENT */
.email {
  padding-left: 1rem;
  font-weight: bold;
}

.management-container {
  gap: 1rem;
}

.important-container {
  gap: 0.7rem;
}

.important-button {
  color: white;
  margin-top: 0.5rem;
  background-color: var(--profound-accent);
}


.important-input {
  border: var(--lambda-border);
  height: 2.5rem;
}
