/* GLOBAL CONTAINER */
.history-container {
  width: 28rem;
  gap: 1rem;
}

/* GAME CARD */
.game-card {
  border: var(--lambda-border);
  border-radius: var(--lambda-border-radius);
  overflow: hidden;
}


.elo {
  display: inline-flex;
  font-weight: bold;
  align-items: center;
}

.gain {
  color: var(--elo-gain-color);
}

.loss {
  color: var(--elo-loss-color);
}


/* BANNER */
.game-card-banner {
  display: grid;
  gap: 0.5rem;
  background-color: var(--button-bg-color);
  padding: 0.5rem 1rem;
  grid-template-columns: 1fr 1fr;
}

.game-card-elo-change {
  font-size: 1.4rem;
}


.game-card-score {
  justify-self: right;
  font-weight: bold;
  font-size: 1.4rem;
}

.game-card-time {
  font-size: 0.9rem;
  color: #a8a8a8;
}


/* PLAYERS */
.game-card-players-list {
  padding: 0.5rem 1rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.players-entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.players-elo-change {
  text-align: right;
  justify-content: right;
}


.players-list-separator {
  border: none;
  border-radius: var(--lambda-border-radius);
  height: 0.15rem;
  background-color: var(--lambda-border-color);
  margin: 0.1rem 0;
  width: 100%;
}

