/* GLOBAL CONTAINER */
.leaderboard-container {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

/* BANNER */
.banner {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.banner-icon {
  width: 1.35rem;
  height: 1.35rem;
}


.sort-button {
  display: flex;
}

.sort-button.active {
  background-color: rgb(58, 118, 245);
}

.sort-menu {
  width: fit-content;
  margin-left: auto;
  border: 0.15rem solid #555;
  border-radius: 0.4rem;
  overflow: hidden;
}

.sort-menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.4rem 1.5rem;
  text-align: right;
}

.sort-menu-item:hover {
  background-color: #333;
}

.reload-button {
  display: flex;
  background-color: #840000;
}

/* USER CARDS */
.cards {
  width: 30rem;
  max-width: 100%;
  margin-top: 2.3rem;
}

.card {
  display: grid;
  position: relative;
  overflow: hidden;
  height: fit-content;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem calc(1rem + 0.4rem);
  margin: 1.4rem auto;
  background-color: #222;
  color: #ddd;
  font-variant-numeric: tabular-nums;
  border-radius: 0.3rem;
}


.player-username {
  grid-column: 1;
  font-size: 1.3rem;
  text-align: left;
}

.player-elo {
  font-size: 1.3rem;
  font-weight: bold;
  grid-column: 2;
  text-align: right;
  color: #0ecc08;
  text-shadow: 0 0 0.5em color-mix(in srgb, currentColor 70%, transparent);
}

.player-stats {
  display: inline-flex;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.stat-container {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.stat-icon-card {
  width: 1.35rem;
  height: 1.35rem;
}

.games-won {
  color: goldenrod;
  filter: drop-shadow(0 0 0.35rem color-mix(in srgb, currentColor 75%, transparent));
}


.games-lost {
  color: #fc5356;
  filter: drop-shadow(0 0 0.35rem color-mix(in srgb, currentColor 75%, transparent));
}

.games-played {
  color: rgb(58, 118, 245);
  filter: drop-shadow(0 0 0.35rem color-mix(in srgb, currentColor 75%, transparent));
}

.ratio {
  color: #bbb;
  filter: drop-shadow(0 0 0.5em color-mix(in srgb, currentColor 50%, transparent));
}

.player-rank {
  color: #bbb;
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: flex-end;
  filter: drop-shadow(0 0 0.5em color-mix(in srgb, currentColor 50%, transparent));
}

/* PODIUM */
.first,
.second,
.third {
  border: 0.05rem gray solid;
}

.first::before,
.second::before,
.third::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.3rem;
}

.first {
  border-color: goldenrod;
}

.second {
  border-color: lightgray;
}

.third {
  border-color: #5e2906;
}

.first::before {
  background-color: goldenrod;
}

.second::before {
  background-color: lightgray;
}

.third::before {
  background-color: #5e2906;
}



