
.login-outer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.login-inner-container {
  display: flex;
  width: 30rem;
  flex-direction: column;
}

.instruction-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
}

.instruction-container a {
  color: white;
  text-decoration: underline #fc5356 0.15rem;
}

.instruction-bullet {
  grid-column: 1;
  background-color: #282828;
  padding: 0.5rem 0.75rem;
  margin-right: 0.4rem;
  border-radius: 2rem;
}

.login-form {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.login-input {
  padding: 0.7rem;
}

.login-button {
  width: 10rem;
  align-self: flex-end;
  color: #fc5356;
  text-shadow: 0 0 0.5em color-mix(in srgb, currentColor 70%, transparent);
}

.forgot-password-button {
  cursor: pointer;
  text-decoration: underline #fc5356 0.15rem;
}

/* FORGOTTEN PASSWORD */
.forgotten-password {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid #555;
  border-radius: 0.4rem;
  display: block;
}

.petanque-email {
  font-weight: bold;
  color: #fc5356;
}
