/* TOP-BAR STYLES */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 420; /* GO FORTH MY CHILD */
  background-color: #111;
}

.hamburger {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1rem;
}

.hamburger.open {
  background-color: #840000;
}

.current-route-title {
  font-size: 1.25rem;
  font-weight: bold;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 4rem; /* just under top-bar */
  left: 0;
  bottom: 0;
  background-color: #111;
  z-index: 420; /* GO CONQUEST THE WEST */
  display: flex;
  flex-direction: column;
}

.route-icon {
  width: 1.5rem;
  height: 1.5rem;
}


.normal-routes {
  flex: 1;
  margin-bottom: 1rem;
}

.routes-container {
  overflow: hidden;
}

.route-entry {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Main Content Area */
.main-content {
  margin-top: 4rem;
  padding-top: 1rem;
}

/* shift content when menu open */
.main-content.open {
  margin-left: 18rem;
}


/* Mobile et Shrunk screen */
@media (max-width: 50rem) {
  .sidebar {
    width: 100dvw;
  }

  .active-route {
    background-color: #840000;
  }

  .route-entry:hover {
    box-shadow: inset 0 0 0 0.2rem #840000;
  }

  .route-entry {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
  }
}

/* Desktop */
@media (min-width: 50rem) {
  .sidebar {
    width: 18rem; /* fixed sidebar width */
    margin: 0.3rem 1rem 1rem 1rem;
  }

  .routes-container {
    border: 0.15rem solid #555;
    border-radius: 0.4rem;
    overflow: hidden;
  }


  .active-route {
    background-color: #222;
  }

  .route-entry:hover {
    background-color: #333;
  }

  .route-entry {
    padding: 0.8rem 1.5rem;
  }
}
