.new-game-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  gap: 1.6rem;
}

.team-entry-container {
  display: flex;
  gap: 2rem;
}

@media (min-width: 48rem) {
  .team-entry-container {
    flex-direction: row;
  }

  /* .team-entry-container > * { */
  /* flex: 1; */
  /* } */
}

@media (max-width: 48rem) {
  .team-entry-container {
    flex-direction: column;
  }
}

.validate-button {
  font-size: 1.3rem;
  color: black;
  background-color: #13f93a;
  width: fit-content;
  align-self: center;
}

/* TEAM ENTRY */
.team-entry {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.team-entry-title {
  margin: 0;
}

/* SCORE INPUT */
.score-input {
  display: flex;
  gap: 0.7rem;
}

.score-input-button {
  display: flex;
}

.score-input-icon {
  width: 1.35rem;
  height: 1.35rem;
}

.score-input-field {
  text-indent: 0;
  text-align: center;
  width: 4rem;
  font-size: 1.35rem;
}


/* PLAYERS INPUT */
.player-selector-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 20rem;
  gap: 1.2rem;
}

/* BANNER */
.player-selector-banner {
  display: flex;
  width: 100%;
  gap: 0.7rem;
}


.player-selector-search-bar {
  width: 100%;
}

.player-selector-clear {
  display: flex;
}

.player-selector-clear-icon {
  display: flex;
  width: 1.35rem;
  height: 1.35rem;
}

/* PLAYER SEARCH BOX */
.player-selector-search-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.15rem solid #555;
  border-radius: 0.4rem;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 1.1rem;
  position: absolute;
  top: 3.7rem; /* constant values because I'm bad at CSS */
  left: 0;
  right: 0;
  z-index: 32;
  background-color: #111;
  box-sizing: border-box;
}

.selected-players-box {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.selected-player {
  display: flex;
  border-radius: 0.4rem;
  background-color: #222;
  overflow: hidden;
  padding: 0.2rem 0.5rem;
  align-items: center;
}

.selected-player-remove-button {
  background: none;
  display: flex;
  padding: 0 0.2rem;
}


.player-remove-icon {
  display: flex;
  width: 1.35rem;
  height: 1.35rem;
}

/* USER SEARCH CARD */
.user-search-card {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  padding: 0.7rem 0;
  align-items: center;
}


.player-selector-search-box .user-search-card:not(:last-child) {
  border-bottom: 0.15rem solid #555;
}

.user-search-card-elo {
  text-align: right;
  font-weight: bold;
  color: #0ecc08;
  text-shadow: 0 0 0.5em color-mix(in srgb, currentColor 70%, transparent);
}

